@import 'variables';
@import 'fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: $body-font;
}

#pie  {
  margin-top: 100px;
  width: 100%;
  position: relative;
  padding-bottom: 40%;
}

svg {
  position: absolute;
}

.clickable,
circle {
  cursor: pointer;
	pointer-events: all;
}

circle {
  fill: none;
  pointer-events: all;
}

#tooltip {
  background-color: white;
  padding: 3px 5px;
  border: 1px solid black;
  text-align: center;
}

.tab {
	padding: 10px;
}

.current {
	stroke: rgb(223, 134, 17);
	fill: rgb(101, 122, 16)
}

.breadcrumb-container {
	padding: 0 10px;
	height: 20px;
	text-align: center;
}

.breadcrumb {
	color: rgb(45, 31, 158);
	cursor: pointer;
}

.breadcrumb::after {
	content: '  >  ';
	color: #000;
}

.breadcrumb:last-child::after {
	content: '';
}
